@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.hero {
    background-color: #A9AD36;
    height: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Abril Fatface', serif;
}

.herotext {
    color: white;
    font-size: 5vw;
    font-weight: 100;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
}

.heroimage {
    display: flex;
    margin-left: 3rem;
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
}

@media (max-width: 700px) {
    .hero {
        background-color: #A9AD36;
        height: 100%;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Abril Fatface', serif;
    }

    .herotext {
        color: white;
        font-size: 2rem;
        font-weight: 100;
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 5vw;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .heroimage {
        display: flex;
        border-radius: 50%;
        height: 20vh;
        width: 20vh;
        padding: 0;
        margin: 0;
        margin-top: 2rem;
    }
}

@media (max-width: 1400px) {
    .heroimage {
        height: 30vh;
        width: 30vh;
    }
}

@media (max-width: 800px) {
    .hero {
        margin: 0;
        padding: 0;
    }
    .HeroImage {
        margin: 0;
        padding: 0;
    }
}

.aboutclass  {
    background-color: #faf9f6;
    display: flex;
    flex-direction: row;
}

.standardtext {
    text-align: left;
    padding: 5vh;
    vertical-align: center;
    color: black;
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 600px) {
    .standardtext {
        max-width: 500px;
        align-self: center;
    }
    .aboutclass {
        flex-direction: column;
    }
    .aboutusimage {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }
    .aboutusimage > Image {
        width: 10rem;
        align-self: center;
        justify-self: center;
    }
}

.standardtext h1 {
    margin-bottom: 1rem;
}

.standardtext h2 {
    margin-bottom: 1rem;
}

.aboutusimage {
    padding: 3vw;
    justify-content: center;
}

.aboutusimages {
    border: 0 solid #A9AD36;
    border-radius: 5%;
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.26));
    height: 30vw;
    width: 30vw;
    justify-self: center;
}

.nav {
    margin: 0;
    position: fixed;
    width: 100%;
    height: 9vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 99;
}

.navImage {
    border-radius: 50%;
    margin-left: 2rem;
    margin-top: 2rem;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.384));
}

.hr {
    border: 2px solid gray;
    border-radius: 3rem;
    margin-bottom: 2rem;
    width: 8rem;
}

.eventclass {
    background-color: transparent;
    max-width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.blogclass {
    background-color: #faf9f6;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cardgrid {
    font-size: 0.7rem;
    margin-top: 5vh;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    grid-gap: 3rem;
    margin-bottom: 1.5rem;
}

@media (max-width: 800px) {
    .cardgrid {
        display: flex!important;
        flex-direction: column;
    }
}

.card {
    /* padding: 5vw; */
    /* text-align: center; */
    background-color: white;
    border-radius: 1rem;
}

.cardtitle {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: "Playfair Display";
}

.cardDescription {
    line-height: 1.5;
    font-size: 1.2rem;
    font-family: "Montserrat";
}

.cardimages {
    margin-bottom: 1rem;
    aspect-ratio: 1/1;
}

@media (max-width: 600px) {
    .cardgrid {
        grid-template-columns: repeat(1, 20rem);
    }
}

@media (max-width: 1200px) {
    .cardgrid {
        grid-template-columns: repeat(2, 20rem);
    }
}

.donateclass  {
    background-color: #faf9f6;
}

.linktitle {
    text-align: left;
    margin-left: 10vh;
    vertical-align: center;
    color: black;
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linktext {
    text-align: left;
    margin: 5vh;
    margin-left: 10vw;
    color: black;
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linktext:hover {
    color: blue;
    text-decoration: underline;
}

/* BUTTON TEST */
.button {
    -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
}

.button::before,
.button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7D8082;
  transition: all .15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #0f1923;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all .2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #ff4655;
  transform: skew(-15deg);
  transition: all .2s ease;
}

.button_text {
  position: relative;
}

.button:hover {
  color: #0f1923;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.button:hover .button_lg::after {
  background-color: #fff;
}

.sliderWrapper {
    display: grid;
    grid-template-columns: auto min-content;
    margin: 2rem 0 1rem 0;
    gap: 1rem;
}

.outsideSlider {
    background-color: #D6D980;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}

.insideSlider {
    background-color: #989B37;
    height: 100%;
    border-radius: 1.375rem;
}

.cardgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cardgrid * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card {
    background-color: #fff;
    /* border-radius: 1rem; */
    filter: drop-shadow(3px 3px 1.25rem rgba(0, 0, 0, 0.08));
    /* padding: 1.5rem; */
    overflow: hidden;
}

.donate {
    padding: 1.5rem;
    border-radius: 1rem;
}

.card img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.donate img {
    border-radius: 1rem;
}

.donate h2 {
    font-size: 0.75rem;
    color: #9a9a9a;
    margin-top: 1rem;
}

.donate h1 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.card button {
    margin-top: 1rem;
    font-size: 1rem;
    padding: 1rem 2rem;
    border: none;
    color: #989B37;
    border-color: #989B37;
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
}

.donate button {
    border-radius: 1rem;
    padding-inline: 1.5rem;
}

.card button:hover {
    background-color: #989B37;
    color: #fff;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
}

@media (max-width: 900px) {
    .donate {
        display: flex;
        flex-direction: column;
    }
}

.cardtext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
}

.cardLocation {
    font-size: 0.75rem;
    color: #989B37
}

.cardtitle {
    color: #989B37;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.cardDescription {
    font-size: 0.75rem;
    color: #9a9a9a;
    margin-top: 1rem;
    font-weight: normal;
}

.cardDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
}

.cardDetails > h2 {
    color: #9a9a9a;
    font-weight: normal;
    font-size: 0.75rem;
}

.donateBtnWrapper {
    display: flex;
    justify-content: center;
}

.blog > h2, .donatey > h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

.blog > h1, .donatey > h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
}

.blog, .donatey {
    padding: 4rem;
}